<a href="https://colab.research.google.com/github/mehmetsar/challenges/blob/main/CovidTurkey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

        location  ... daily_vaccinations_per_million
0  #country+name  ...                            NaN
1    Afghanistan  ...                            NaN
2    Afghanistan  ...                           35.0
3    Afghanistan  ...                           35.0
4    Afghanistan  ...                           35.0

[5 rows x 12 columns]

In [ ]:
df.sample(15)

                     location  ... daily_vaccinations_per_million
6911                  Croatia  ...                         5144.0
31964               Venezuela  ...                         3662.0
20260                 Myanmar  ...                          225.0
17389              Low income  ...                           63.0
24808                  Rwanda  ...                          322.0
4163                 Botswana  ...                          351.0
2528                  Bahrain  ...                         4532.0
4083   Bosnia and Herzegovina  ...                         1507.0
10869                  Gambia  ...                            7.0
29892     Trinidad and Tobago  ...                         1866.0
9676           European Union  ...                         5241.0
572                   Algeria  ...                          517.0
31776              Uzbekistan  ...                         1192.0
21899         North Macedonia  ...                         4846.0
4465                   Brunei  ...                         1463.0

[15 rows x 12 columns]

In [ ]:
dfTurk = df[df["location"]=="Turkey"]

In [ ]:
dfTurk.head()

      location  ... daily_vaccinations_per_million
30080   Turkey  ...                            NaN
30081   Turkey  ...                         3313.0
30082   Turkey  ...                         3656.0
30083   Turkey  ...                         2675.0
30084   Turkey  ...                         2094.0

[5 rows x 12 columns]

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
dfTurk["year"]=dfTurk.date.dt.year
dfTurk["month"] = dfTurk.date.dt.strftime("%Y %m")

In [ ]:
sns.barplot(x = dfTurk.month, y = dfTurk.total_vaccinations )

TypeError: ignored

In [ ]:
dfTurk.head()

      location  ... daily_vaccinations_per_million
30080   Turkey  ...                            NaN
30081   Turkey  ...                         3313.0
30082   Turkey  ...                         3656.0
30083   Turkey  ...                         2675.0
30084   Turkey  ...                         2094.0

[5 rows x 12 columns]

In [ ]:
dfTurk.date.dt.

      location  ... daily_vaccinations_per_million
30080   Turkey  ...                            NaN
30081   Turkey  ...                         3313.0
30082   Turkey  ...                         3656.0
30083   Turkey  ...                         2675.0
30084   Turkey  ...                         2094.0

[5 rows x 12 columns]